In [70]:
import numpy as np
import pandas as pd

In [71]:
match=pd.read_csv('Dataset/matches.csv')
delivery=pd.read_csv('Dataset/deliveries.csv')

In [72]:
match.shape

(756, 18)

In [73]:
match.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   Season           756 non-null    object
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(4), object(14)
memory usage: 106.4+ KB

In [74]:
delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [75]:
TotalScore=delivery.groupby(['match_id','inning']).sum()['total_runs'].reset_index()

In [76]:
TotalScore

      match_id  inning  total_runs
0            1       1         207
1            1       2         172
2            2       1         184
3            2       2         187
4            3       1         183
...        ...     ...         ...
1523     11413       2         170
1524     11414       1         155
1525     11414       2         162
1526     11415       1         152
1527     11415       2         157

[1528 rows x 3 columns]

In [77]:
TotalScore=TotalScore[TotalScore['inning']==1]
print(TotalScore)

      match_id  inning  total_runs
0            1       1         207
2            2       1         184
4            3       1         183
6            4       1         163
8            5       1         157
...        ...     ...         ...
1518     11347       1         143
1520     11412       1         136
1522     11413       1         171
1524     11414       1         155
1526     11415       1         152

[756 rows x 3 columns]

In [78]:
 Match_Data=match.merge(TotalScore[['match_id','total_runs']],left_on='id',right_on='match_id')
 Match_Data

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,1,207
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN,2,184
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN,3,183
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN,4,163
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN,5,157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,IPL-2019,Mumbai,05-05-2019,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi,11347,143
752,11412,IPL-2019,Chennai,07-05-2019,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould,11412,136
753,11413,IPL-2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN,11413,171
754,11414,IPL-2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin,11414,155
755,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong,11415,152

In [79]:
Match_Data['team1'].unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Daredevils', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals'], dtype=object)

In [80]:
Match_Data['team1']=Match_Data['team1'].str.replace('Delhi Daredevils','Delhi Capitals')
Match_Data['team2']=Match_Data['team2'].str.replace('Delhi Daredevils','Delhi Capitals')

Match_Data['team1']=Match_Data['team1'].str.replace('Delhi Daredevils','Delhi Capitals')
Match_Data['team2']=Match_Data['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

Match_Data['team1']=Match_Data['team1'].str.replace('Gujarat Lions','Gujarat Titans')
Match_Data['team2']=Match_Data['team1'].str.replace('Gujarat Lions','Gujarat Titans')

In [81]:
WorkingTeams=['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions', 'Royal Challengers Bangalore','Kolkata Knight Riders', 'Kings XI Punjab','Chennai Super Kings', 'Rajasthan Royals','Delhi Capitals']

In [82]:
Match_Data=Match_Data[Match_Data['team1'].isin(WorkingTeams)]
Match_Data['team1']=Match_Data['team2'].str.replace('Gujarat Lions','Gujarat Titans')

<ipython-input-82-c92f2b78f01a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Match_Data['team1']=Match_Data['team2'].str.replace('Gujarat Lions','Gujarat Titans')

In [83]:
Match_Data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 657 entries, 0 to 755
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               657 non-null    int64
 1   Season           657 non-null    object
 2   city             650 non-null    object
 3   date             657 non-null    object
 4   team1            657 non-null    object
 5   team2            657 non-null    object
 6   toss_winner      657 non-null    object
 7   toss_decision    657 non-null    object
 8   result           657 non-null    object
 9   dl_applied       657 non-null    int64
 10  winner           653 non-null    object
 11  win_by_runs      657 non-null    int64
 12  win_by_wickets   657 non-null    int64
 13  player_of_match  653 non-null    object
 14  venue            657 non-null    object
 15  umpire1          655 non-null    object
 16  umpire2          655 non-null    object
 17  umpire3          119 non-null    object
 18  match_id         657 non-null    int64
 19  total_runs       657 non-null    int64
dtypes: int64(6), object(14)
memory usage: 107.8+ KB

In [84]:
Match_Data['dl_applied'].value_counts()

0    639
1     18
Name: dl_applied, dtype: int64

In [85]:
Match_Data=Match_Data[Match_Data['dl_applied']==0]

In [86]:
Match_Data=Match_Data[['match_id','city','total_runs','winner']]
Match_Data

     match_id           city  total_runs                       winner
0           1      Hyderabad         207          Sunrisers Hyderabad
1           2           Pune         184       Rising Pune Supergiant
4           5      Bangalore         157  Royal Challengers Bangalore
6           7         Mumbai         178               Mumbai Indians
7           8         Indore         148              Kings XI Punjab
..        ...            ...         ...                          ...
751     11347         Mumbai         143               Mumbai Indians
752     11412        Chennai         136               Mumbai Indians
753     11413  Visakhapatnam         171               Delhi Capitals
754     11414  Visakhapatnam         155          Chennai Super Kings
755     11415      Hyderabad         152               Mumbai Indians

[639 rows x 4 columns]

In [87]:
delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [88]:
delivery=delivery[delivery['inning']==2]

In [89]:
Delivery_df=Match_Data.merge(delivery,on='match_id')

In [90]:
Delivery_df.shape

(73694, 24)

In [91]:
Delivery_df.head()

,match_id,city,total_runs_x,winner,inning,batting_team,bowling_team,over,ball,batsman,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder
0,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,0,0,0,0,1,0,1,NaN,NaN,NaN
1,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,0,0,0,0,NaN,NaN,NaN
3,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,0,0,0,0,2,0,2,NaN,NaN,NaN
4,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [92]:
Delivery_df.groupby('match_id').cumsum()['total_runs_y']

0          1
1          1
2          1
3          3
4          7
        ...
73689    152
73690    154
73691    155
73692    157
73693    157
Name: total_runs_y, Length: 73694, dtype: int64

In [93]:
Delivery_df['current_score']=Delivery_df.groupby('match_id').cumsum()['total_runs_y']

In [94]:
Delivery_df['runs_left']=Delivery_df['total_runs_x']-Delivery_df['current_score']+1

In [95]:
Delivery_df.head()

,match_id,city,total_runs_x,winner,inning,batting_team,bowling_team,over,ball,batsman,...,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder,current_score,runs_left
0,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,0,0,1,0,1,NaN,NaN,NaN,1,207
1,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,0,0,NaN,NaN,NaN,1,207
2,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,0,0,NaN,NaN,NaN,1,207
3,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,0,0,2,0,2,NaN,NaN,NaN,3,205
4,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,0,0,4,0,4,NaN,NaN,NaN,7,201

In [96]:
Delivery_df['balls_left']=126-(Delivery_df['over']*6+Delivery_df['ball'])

In [97]:
Delivery_df['balls_left']

0        119
1        118
2        117
3        116
4        115
        ...
73689      4
73690      3
73691      2
73692      1
73693      0
Name: balls_left, Length: 73694, dtype: int64

In [98]:
Delivery_df['player_dismissed']=Delivery_df['player_dismissed'].fillna("0")
Delivery_df['player_dismissed']=Delivery_df['player_dismissed'].apply(lambda x:x if x=="0" else "1")
Delivery_df['player_dismissed']=Delivery_df['player_dismissed'].astype('int')
wickets=Delivery_df.groupby('match_id').cumsum()['player_dismissed'].values
Delivery_df['wickets']=10-wickets
Delivery_df.head()

,match_id,city,total_runs_x,winner,inning,batting_team,bowling_team,over,ball,batsman,...,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets
0,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,1,0,1,0,NaN,NaN,1,207,119,10
1,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,0,NaN,NaN,1,207,118,10
2,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,0,NaN,NaN,1,207,117,10
3,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,2,0,2,0,NaN,NaN,3,205,116,10
4,1,Hyderabad,207,Sunrisers Hyderabad,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,4,0,4,0,NaN,NaN,7,201,115,10

In [99]:
#Current Run rate
Delivery_df['crr']=(Delivery_df['current_score']*6)/(120-Delivery_df['balls_left'])

In [100]:
Delivery_df['rrr']=(Delivery_df['runs_left']*6)/(Delivery_df['balls_left'])

In [102]:
Delivery_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73694 entries, 0 to 73693
Data columns (total 30 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          73694 non-null  int64
 1   city              72862 non-null  object
 2   total_runs_x      73694 non-null  int64
 3   winner            73667 non-null  object
 4   inning            73694 non-null  int64
 5   batting_team      73694 non-null  object
 6   bowling_team      73694 non-null  object
 7   over              73694 non-null  int64
 8   ball              73694 non-null  int64
 9   batsman           73694 non-null  object
 10  non_striker       73694 non-null  object
 11  bowler            73694 non-null  object
 12  is_super_over     73694 non-null  int64
 13  wide_runs         73694 non-null  int64
 14  bye_runs          73694 non-null  int64
 15  legbye_runs       73694 non-null  int64
 16  noball_runs       73694 non-null  int64
 17  penalty_runs      73694 non-null  int64
 18  batsman_runs      73694 non-null  int64
 19  extra_runs        73694 non-null  int64
 20  total_runs_y      73694 non-null  int64
 21  player_dismissed  73694 non-null  int32
 22  dismissal_kind    3639 non-null   object
 23  fielder           2616 non-null   object
 24  current_score     73694 non-null  int64
 25  runs_left         73694 non-null  int64
 26  balls_left        73694 non-null  int64
 27  wickets           73694 non-null  int32
 28  crr               73694 non-null  float64
 29  rrr               73689 non-null  float64
dtypes: float64(2), int32(2), int64(17), object(9)
memory usage: 16.9+ MB

In [103]:
def result(row):
    return 1 if row['batting_team']==row['winner'] else 0

In [105]:
Delivery_df['result']=Delivery_df.apply(result,axis=1)

In [110]:
Final_Dataframe=Delivery_df[['batting_team','bowling_team','city','runs_left','balls_left','wickets','total_runs_x','crr','rrr','result']]

In [111]:
Final_Dataframe.head()

,batting_team,bowling_team,city,runs_left,balls_left,wickets,total_runs_x,crr,rrr,result
0,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,207,119,10,207,6.0,10.436975,0
1,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,207,118,10,207,3.0,10.525424,0
2,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,207,117,10,207,2.0,10.615385,0
3,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,205,116,10,207,4.5,10.603448,0
4,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,201,115,10,207,8.4,10.486957,0

In [114]:
Final_Dataframe=Final_Dataframe.sample(Final_Dataframe.shape[0]) ##Shuffling to avoid bais outcomes

In [115]:
Final_Dataframe.head()

,batting_team,bowling_team,city,runs_left,balls_left,wickets,total_runs_x,crr,rrr,result
4191,Kolkata Knight Riders,Mumbai Indians,Kolkata,93,70,6,173,9.720000,7.971429,0
47191,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata,187,103,9,195,3.176471,10.893204,0
62953,Mumbai Indians,Chennai Super Kings,Pune,22,13,8,176,8.691589,10.153846,1
47505,Delhi Daredevils,Mumbai Indians,Mumbai,71,34,7,173,7.186047,12.529412,0
38900,Kings XI Punjab,Royal Challengers Bangalore,Bangalore,31,25,8,174,9.094737,7.440000,1

In [116]:
from sklearn.model_selection import train_test_split

In [117]:
x=Final_Dataframe.iloc[:,:-1]
y=Final_Dataframe.iloc[:,-1]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [118]:
x_train

,batting_team,bowling_team,city,runs_left,balls_left,wickets,total_runs_x,crr,rrr
65618,Sunrisers Hyderabad,Royal Challengers Bangalore,Bengaluru,37,13,8,222,10.429907,17.076923
24772,Deccan Chargers,Kolkata Knight Riders,Hyderabad,88,45,6,169,6.560000,11.733333
27882,Delhi Daredevils,Chennai Super Kings,Delhi,54,74,8,110,7.434783,4.378378
48414,Kolkata Knight Riders,Kings XI Punjab,Bangalore,190,115,9,199,12.000000,9.913043
31898,Pune Warriors,Rajasthan Royals,Jaipur,114,64,6,170,6.107143,10.687500
...,...,...,...,...,...,...,...,...,...
19227,Deccan Chargers,Rajasthan Royals,Nagpur,46,35,6,159,8.047059,7.885714
63329,Delhi Daredevils,Chennai Super Kings,Pune,18,2,5,218,10.220339,54.000000
72716,Kolkata Knight Riders,Kings XI Punjab,Mohali,113,72,9,186,9.250000,9.416667
69354,Chennai Super Kings,Kolkata Knight Riders,Chennai,90,102,9,114,8.333333,5.294118
57833,Mumbai Indians,Sunrisers Hyderabad,Visakhapatnam,130,71,5,177,5.877551,10.985915